/* General Style */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,600&display=swap");

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #e6f9fb;
	font-family: "Poppins", sans-serif;
}
html {
	scroll-behavior: smooth;
}

p {
	color: rgb(85, 85, 85);
}

/************ Transitions ************************/

.btn {
	transition: all 300 ease;
}

nav,
.nav-links {
	display: flex;
}


nav {
	justify-content: space-around;
	align-items: center;
	height: 17vh;

}


.nav-links {
	gap: 2rem;
	list-style: none;
	font-size: 1.5em;
}
a {
	color: #333333;
	text-decoration: none;
	text-decoration-color: white;
}
a:hover {
	color: gray;
	text-decoration: underline;
	text-decoration-color: black;
	text-decoration-thickness: 0.1em;
	text-underline-offset: 0.75rem;
}

.name {
	font-size: 2em;
}
.name:hover {
	cursor: default;
}

/* SECOND NAV-MENU */

#second-nav-bar {
	display: none;
}
.second-nav-menu {
	position: relative;
	display: inline-block;
}

.second-nav-icon {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 24px;
	width: 30px;
	cursor: pointer;
}

.second-nav-icon span {
	width: 100%;
	height: 2px;
	background-color: black;
	transition: 0.3 ease-in-out;
}
.menu-links {
	position: absolute;
	top: 100%;
	right: 0;
	background-color: white;
	width: fit-content;
	max-height: 0;
	overflow: hidden;
	transition: 0.3 ease-in-out;
}

.menu-links a {
	display: block;
	padding: 10px;
	text-align: center;
	font-size: 1em;
	color: black;
	text-decoration: none;
	transition: 0.3 ease-in-out;
}

.menu-links li {
	list-style: none;
}
.menu-links.open {
	max-height: 300px;
}
second-nav-icon.open span:first-child {
	transform: rotate(45deg) translate(10px, 5px);
}
second-nav-icon.open span:nth-child(2) {
	opacity: 0;
}
second-nav-icon.open span:last-child {
	transform: rotate(45deg) translate(10px, -px);
}

second-nav-icon span:first-child {
	transform: none;
}
second-nav-icon span:first-child {
	opacity: 1;
}
second-nav-icon span:first-child {
	transform: none;
}

/* SECTIONS */

section {
	padding-top: 4vh;
	height: 96vh;
	margin: 0 10rem;
	box-sizing: border-box;
	min-height: fit-content;
}

.section-container {
	display: flex;
}

/* profile */

#profile {
	display: flex;
	justify-content: center;
	gap: 3rem;
	height: 80vh;
}

.section-pic-container {
	display: flex;
	height: 400px;
	width: 400px;
	margin: auto 0;
}
.profilePic {
	width: auto;
	border-radius: 45%;
}

.section-text {
	align-self: center;
	text-align: center;
}

.section-text p {
	font-weight: 600;
}

.section-text-p1 {
	text-align: center;
}

.section-text-p2 {
	color: #424704;
	font-size: 1.2rem;
	margin-bottom: 1rem;
}

.title {
	font-size: 2rem;
	text-align: center;
}
.socials-icons-container {
	display: flex;
	justify-content: center;
	margin: 1rem;
	gap: 1rem;
}

/* icons */

.icon {
	cursor: pointer;
	height: 2rem;
	background: inherit;
}

/* buttons */

.btn-container {
	display: flex;
	justify-content: center;
	gap: 2rem;
}

.btn {
	font-weight: 600;
	transition: all 300ms ease;
	padding: 1em;
	width: 8rem;
	border-radius: 2rem;
}
.btn-color-1,
.btn-color-2 {
	border: rgb(53, 53, 53) 0.1rem solid;
}
.btn-color-1:hover,
.btn-color-2:hover {
	cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
	background-color: rgb(53, 53, 53);
	color: white;
}

.btn-color-1:hover,
.btn-color-2:hover {
	cursor: pointer;
}

.btn-color-1:hover {
	background: rgb(0, 0, 0);
}

.btn-color-2 {
	background: none;
}
.btn-color-2:hover {
	border: rgb(255, 255, 255) 0.1rem solid;
}

/* About section styling */

#About {
	position: relative;
}

.about-container {
	gap: 2rem;
	margin-bottom: 2rem;
	margin-top: 2rem;
	width: auto;
	
}
.about-details-container {
	justify-content: center;
	flex-direction: column;
}

.about-container,
.about-details-container {
	display: flex;
}

.about-profile-pic {
	border-radius: 2rem;
}

.down {
	position: absolute;
	right: -5rem;
	bottom: 2.5rem;
	background: none;
}

.details-container {
	padding: 1rem;
	flex: 1;
	background: white;
	border: #333333 solid;
	border-color: rgb(163, 163, 163);
	text-align: center;
	border-radius: 2rem;
}

.section-container {
	gap: 4rem;
	height: 80%;
}
.details-container p,
img,
h3 {
	background-color: white; /* or any other color you want */
}

.about-profile-pic {
	width: 380px;
	height: 400px;
	object-fit: cover;
}
.break {
	display: none;
	width: 100%;
	border: #333333 0.2rem solid;

	height: auto;
	background-color: black;
	margin-bottom: 2rem;
}

/* Experience part */
#Experience {
	position: relative;
}

.details-title {
	font-weight: 600;
	color: #333333;
	font-size: 1.75rem;
	margin-bottom: 2rem;
}

.experience-all-components-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.article-container {
	display: flex;
	text-align: initial;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 2.5rem;
	justify-content: space-around;
}

article {
	display: flex;
	width: 10rem;
	justify-content: space-around;
	gap: 0.75rem;
}

article.icon {
	cursor: default;
}

/* projects style */

#Project {
	position: relative;
}

.color-container {
	border-color: rgb(163, 163, 163);
}

.project-pic {
	border-radius: 2em;
	width: 50%;
	height: 50%;
}

#Contact {
	padding-top: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 70vh;
}
.contact-info-upper-container {
	display: flex;
	justify-content: center;
	border: rgb(53, 53, 53) 0.2rem solid;
	border-radius: 2rem;
	border-color: rgb(163, 163, 163);
	background: (255, 255, 255);
	margin: 2rem auto;
	padding: 0.5rem;
}

.contact-info-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	margin: 1rem;
}

/* part2 contact page */



.All-contact-container {
	margin-top: 4rem;
	display: flex;
	height: 80%;

	min-height: fit-content;
}

.text-container {
	padding-top: -2rem;

	display: flex;
	flex-direction: column;
	/* justify-content: initial; */
	text-align: center;
	width: 50%;
	gap: 2em;
	/* border: rgb(53, 53, 53) 0.2rem solid;
	border-radius: 2rem;
	border-color: rgb(163, 163, 163); */
}

.text-and-icon {
	padding-top: 2.5rem;
	display: flex;
	justify-content: center;
	flex-direction: row;
	gap: 0.5rem;
	text-align: center;
}

.text-and-icon img {
	height: 1.5rem;
}

.email-div {
	display: flex;
	justify-content: center;
	flex-direction: row;
	gap: 1.5rem;
}

.email-text {
	text-align: left;
}
form{
	display: block;
}

.form-container{
	display:flex;
	justify-content: center;
	flex-direction: column;
	gap: 1.5rem;
}

.form-sec-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	/* border: rgb(53, 53, 53) 0.2rem solid;
	border-radius: 2rem;
	border-color: rgb(163, 163, 163); */
}


.form-container {
    margin: auto; 
    width: 80%; 
	
 padding: 2rem; 
}

input[type="text"],
input[type="email"] {
    width: 80%; 
	background: white;
    padding: 0.5rem; 
    border-radius: 0.5rem; 
    border: 1px solid #333333; 
    margin-bottom: 1rem; /* Add space between inputs */
}

label {
	padding-top: 1.3rem;
	padding-left: 2.5rem;
    text-align: left;
    display: block;
	padding-bottom:1rem;
	
	
}
#input-field{

	display: inline-block;
	width: 80%;
	align-items: left;
	margin-left: 0.5rem;
}

.btn-color3{
	display: inline-block;
	font-weight: 600;
	transition: all 300ms ease;
	padding: 3rem;
	width: 8rem;
	border-radius: 2rem;
}


input[type=submit] {
	
 width: 80%;
  background-color: #196046;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}




/* login styling */

.login-container{
	margin-top: 1rem;
	height: 80%;
	display: flex;
	min-height: fit-content;
	justify-content: center;
flex-direction: column;
text-align: center;
gap: 2rem;

}
#Login .title{
	margin-top: -1rem;
} 

.login-title{
	margin-top: 2rem;
}


.img-container{
	width: 80px;
	height: 80px;
	background-color: inherit;
	align-content: center;
}

#Login input[type="text"],
#Login input[type="password"],
#Login input[type="submit"] {

    width: 50%; 
	background: white;
    padding: 0.5rem; 
    border-radius: 0.5rem; 
    border: 1px solid #333333; /* Border color */
    margin-bottom: 1rem; /* Add space between inputs */
}


#Login input[type=submit] 
{
	margin-top: 2rem;
 width: 50%;
  background-color: #196046;
  color: white;
  padding: 14px 20px;
  /* margin: 8px 0; */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#Login input[type=submit]:hover{
	background: #333333;
}

#Login input[type="password"]{
	margin-top: 1rem;	
}

.sign-in{
	display: flex;
	flex-direction: row;
	gap: 1rem;
	justify-content: center;
	align-items: center;

}

.line{
width: 17%;
	height: 3px;
border-radius: 2rem;
	background:  #196046;
	border: gray 1px solid;

}


.after-form{
	display: flex;
	flex-direction: row;
	gap: 2rem;
	justify-content: center;
	align-items: center;
	width: 100%;

	margin-top: -2rem;

}

.after-form > p,
#checkboxContainer > label {
  font-weight: 600;
    color: #333333;

}


.container hr {
	
	display: flex;
	justify-content: center;
  border-top: 5px solid   #196046;
 margin:auto 15rem ;
}

#Login input[type="submit"]{
	font-weight: 800px;
	font-size: 1rem;
}

.bottom-part{
	display: flex;
	flex-direction: row;
	gap: 2rem;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.bottom-part p:first-child{
	font-weight: 600px;
	color:#196046;
}
#Contact{
	margin-bottom: 8rem;
}


.footer-container{
	padding: 1rem;
	display: flex;
	align-items: center;
     align-content: center;
	 justify-content: center;
}

footer{
	text-align: center;
	height: 20vh;
	background: #d8faf4;
}

.last-content{
	padding: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	
	
}

.footer-contact{
	display: flex;
	gap: 2rem;
}

.inside-footer{
	display: flex;
	gap: 0.75rem;
	align-items: center;
}

.call{
	height: 1.5rem;
}

.after-form p:hover{
	color: #196046;
	cursor: pointer;
}




/* signup styling */


Copy code
#SignUp .signup-container{
	margin-top: 1rem;
	height: 80%;
	display: flex;
	min-height: fit-content;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	width: 70%;
	gap: 2rem;
}

#SignUp .img-container{
	width: 80px;
	height: 80px;
	background-color: inherit;
	align-content: center;
	margin: auto 50%;
}

#SignUp input[type="text"],
#SignUp input[type="email"],
#SignUp input[type="password"],
#SignUp input[type="submit"] {
	width: auto; 
	display: block;
	align-items: center;
	background: white;
	padding: 0.5rem; 
	border-radius: 0.5rem; 
	border: 1px solid #333333; /* Border color */
	margin: 1rem 50%;
}

#SignUp input[type=submit] {
	margin-top: 2rem;
	width: auto; 
	background-color: #196046;
	color: white;
	padding: 14px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#SignUp input[type=submit]:hover {
	background: #333333;
}

#SignUp input[type="password"] {
	margin-top: 1rem;	
}

.sign-up {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	justify-content: center;
	align-items: center;
}

#SignUp .line {
	width: 17%;
	height: 3px;
	border-radius: 2rem;
	background: #196046;
	border: gray 1px solid;
}

#SignUp .after-form {
	display: flex;
	flex-direction: row;
	gap: 2rem;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: -2rem;
}

#SignUp .after-form > p,
#SignUp #checkboxContainer > label {
	font-weight: 600;
	color: #333333;
}

#SignUp .container hr {
	display: flex;
	justify-content: center;
	border-top: 5px solid #196046;
	margin: auto 15rem;
}

#SignUp input[type="submit"] {
	font-weight: 800px;
	font-size: 1rem;
}

#SignUp .bottom-part {
	display: flex;
	flex-direction: row;
	gap: 2rem;
	justify-content: center;
	align-items: center;
	width: 100%;
}

#SignUp .bottom-part p:first-child {
	font-weight: 600px;
	color: #196046;
}